{{ define "main" }}
{{ .Content }}
<content>
  {{ if .Data.Singular }}
  {{else}}
    <h2>Eat</h2>
    <small>
      <div>
        {{ range .Site.Taxonomies.cuisines }}
        <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
        {{ end }}
      </div>
    </small>
    <br>
    <small>
      <div>
        {{ range .Site.Taxonomies.ingredients }}
        <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
        {{ end }}
      </div>
    </small>
    <br>
    <small>
      <div>
        {{ range .Site.Taxonomies.collections }}
        <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
        {{ end }}
      </div>
    </small>
    <h2>Drink</h2>
    <small>
      <div>
        {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
        {{ end }}
      </div>
    <small>
  {{ end }}
</content>
{{ end }}
